body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: lightgrey;
}

.wrapper {
	width: inherit;
	height: inherit;
}
.card {
	width: 513px;
	height: 756px;
	margin: 5px auto 15px;
	padding: 2% 5%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	background: white;
	line-height: 30px;
	font-family: arial;
}
.text-align-center {
	text-align: center;
}
.name {
	font-size: 20px;
}
.avatar {
	margin: auto;
	width: 20%;
}
img {
	border-radius: 80%;
}
