@font-face {
  font-family: 'lucida_sans_unicoderegular';
  src: url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'), url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: arial, sans-serif;
}
.float_left {
  display: block;
  float: left;
}
.float_right {
  display: block;
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  position: relative;
  height: 0;
}

/* WRAPPER */

div.wrapper {
  max-width: 909px;
  align-self: auto;
  margin: 0px 14%;
}

/* header */

header {

}
div.upper_block {
  padding: 16px 0px 9px;
  position: relative;;
}

div.logo_phone {
  float: left;
  background-color: #0d3559;
  background: linear-gradient (to bottom, #0d3559, #1f6786);
  border-radius: 100%;
  width: 22px;
  height: 22px;
  text-align: center;
  margin: 0px 6px;
}
div.phone_numbers {
  color: #ccc;
  font-size: 18px;
  margin-right: 12px;
  float: left;
}
div.registration_form {
  border-radius: 4px;
background: linear-ggradient (to top, #0d3458, #1f6685);
background-color: #0d3458;
-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
height: 26px;
line-height: 25px;
font-size: 14px;
font-family: "lucida_sans_unicoderegular";
position: absolute;
left: 314px;
top: 11px;
}
div.logo_form {
  float: left;
  margin-left: 7px;
  margin-top: 5px;
}

form.reg {
  float: left;
  margin-left: 4px;
}
form.reg:first-child {
  display: block;
  float: left;
  height: 14px;
  width: 107px;
  padding-left: 4px;
  font-size: 11px;
}
form.reg:last-child {
  display: block;
  float: left;
  font-size: 11px;
  height: 14px;
  width: 106px;
  padding-left: 5px;
  margin-left: 4px;
}
nav {
  display: block;
  float: left;
}
p.enter {
  display: block;
  float: left;
  color: #fff;
  margin-left: 8px;
  border-right: 1px solid #ccc;
  font-size: 11px;
  font-family: "lucida_sans_unicoderegular";
}
p.registration {
  display: block;
  float: left;
  color: #fff;
}
p.forgot_password {
  display: block;
  float: left;
  margin-left: 10px;
  color: #bfbfbf;
  text-decoration: underline;
  font-size: 12px;
  font-family: "lucida_sans_unicoderegular";
}
div.navi {
  position: absolute;
  right: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

/* HEADER NAVIGATION MENU */
div.menu {
  background-color: #2d3236;
  background: linear-gradient (to top, #010101, #2d3236);
  border-radius: 2px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  margin-top: 2px;
  margin-bottom: 11px;
  height: 34px;
  line-height: 32px;
  padding-left: 124px;
}

menu > li {
  display: block;
  float: left;
  border-radius: 28px;
  /* border: 1px solid red; */
  list-style: none;
  padding-left: 22px;
  margin-top: 4px;
  height: 25px;
  padding-right: 18px;
  line-height: 25px;
}
menu > li:nth-child(2) {
  padding: 0px 18px;
}
menu > li:nth-child(3), menu > li:nth-child(4) {
  padding: 0px 15px;
}
menu > li:nth-child(5) {
  padding: 0px 10px;
}
menu > li:hover {
  background: linear-gradient (to top, #0c3357, #1f6787);
  background-color: #1f6787;
menu > li > a {
}
  text-decoration: none;
  height: 100%;
  font-size: 14px;
  color: #fff;
}
div.menu > div.trash {
  float: right;
  width: 225px;
}
div.menu > div.trash > img {
  display: block;
  float: left;
  line-height: 44px;
}
div.menu > div.trash > p {
  display: block;
  float: left;
  margin-left: 9px;
  font-size: 11px;
  color: white;
}
div.menu > div.trash > p:nth-child(4) {
  margin-left: 15px;
}
div.menu > div.trash > p.digit:last-child {
  margin-left: 11px;
}
div.menu > div.trash > p.digit {
  margin-left: 3px;
  font-size: 13px;
  line-height: 33px;
  color: lightblue;
}

/* HEADER FINDER BLOCKS */
div.finder {
  position: relative;
  padding: 0px 4px;
}


div.find_po_avto, div.find_tires, div.find_disk {
  float: left;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
div.left_form {
  float: left;
}
div.right_form {
  float: right;
}
div.p_holder {
  display: block;
  float: left;
  font-size: 10px;
}
div.line > div.first > p {
  display: block;
  float: left;
}
div.find_po_avto div > div.line > div.first::after {
  content: 'авто:';
  display: block;
  float: left;
  margin-left: 3px;
}
div.find_po_avto {
  width: 413px;
  height: 133px;
}

div.find_po_avto div > div.line > div.none_after::after {
  content: '';
}
div.find_po_avto div.line > div.p_holder::after {
  content: 'автомобиля:';
  color: grey;
  font-size: 10px;
}

div.block_header {
  position: relative;
  text-align: center;
  margin-top: 2px;
  margin-left: 21px;
  margin-right: 21px;
}
p.title {
  position: absolute;
  left: 28%;
}
p.head_info {
  font-size: 10px;
  font-weight: 900;
}
p.title {
  position: absolute;
  left: 105px;
  top: -3px;
  font-size: 12px;
  font-weight: 900;
}

/*

p.head_info_left {
  position: relative;
  float: left;
}
p.title {
  position: absolute;
  left: 28%;
  top: -3px;
  font-size: 12px;
  font-weight: 900;
}
p.head_info_right {
  position: relative;
  float: right;
}
div.left_form, div.right_form {
  float: left;
}

div.select_holder {
  float: left;
}*/
div.select_holder {
  float: right;
  width: 102px;
  height: 17px;
  overflow: hidden;
  position: relative;
  background: url(../img/select-triangle.png) no-repeat right #fff;
  -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.75);
}
div.select_holder > select {
  width: 121%;
  background: transparent;
}
div.button_holder {
  float: right;
}
div.button_holder > button {
  background: none;
  text-decoration: underline;
  color: grey;
  border: none;
}
div.checkbox_holder {
  float: right;
}




/*nav_left content nav_right*/

div.nav_left {
  float: left;
  width: 20%;
}

div.nav_title{
  border-radius: 20px;
  border: 1px solid grey;
  line-height: 20px;
}

div.head {
  display: block;
  border-radius: 20px;
  border: 1px solid grey;
  line-height: 20px;
}

ul.nav_list {
  list-style: url(../img/select-triangle.png);
  display: block;
  margin-left: 30px;
}
ul.nav_list > li > a {
  display: block;
  height: 100%;
  text-decoration: none;
}

div.content {
  float: left;
  width: 60%;
  background-color: grey;
}

div.container1, div.container2, div.container3 {
  float: left;
  margin: 10px;
  text-align: center;
}

div.photo {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}

div.nav_right {
  float: left;
  width: 20%;
}
div.vendors {
  margin: 0px 10%;
}
div.firm {
  float: left;
}

footer {
  background-color: darkblue;
  text-align: center;
}
footer > menu {
  background: none;
}
menu > li > a {
  display: block;
  height: 100%;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

footer > menu > li:hover {
  color: lightblue;
  background: none;
}
div.copyright {
  clear: both;
}
/*test*/
