* {
  margin: 0;
  padding: 0;
}
.bodyer {
  width: 100%;
  text-decoration-color: red;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
}
/* header*/
/* header*/
/* header*/
